<section>
  <header class="header header--roaster">
    <div class="header__inner">
      <h1 class="header__title">We love cofee.</h1>
    </div>
  </header>

  <div class="container">
    <p class="lead">The best way to find new roasters and remember your favourite bags of beans.</p>
    <p>Share flavour profiles and find new coffee that matches your taste.</p>
    <%= link_to "View beans", beans_path, class: 'button' %>
  </div>
</section