.card {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: $spacing;
  border: $default-border;
  border-radius: $border-radius;

  .card__image {
    margin-right: $spacing;
    margin-bottom: $spacing;
  }

  .card__body {
    flex: 1 1 280px;
  }
}
